<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>current product</title>
</head>
<body>
  <!--defined product-->
NAME: {{ product.product_name }}<br>
DESCRIPTION: {{ product.product_description }} <br>
PRICE: {{ product.product_price }} <br>
AMOUNT: {{ product.product_count }} <br>
CATEGORY: {{ product.product_category }}<br><br>

<form method="POST">
    {% csrf_token %}
    <input type="number" name="user_product_quantity">
    <button>Order</button>
</form>

<a href="/">back to main menu</a> <br>
</body>
</html>